label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #d6dee9;
}

.section-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.section {
    padding: 20px;
    border: 1px solid #ccc;
    
}

button {
   float: right;
   background-color: darkblue;
}